# Go binaries
/bin/
/obj/

# Dependency directories
/vendor/*

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor specific files
.idea/
.vscode/

# Go-related files
*.test
*.out
*.exe
*.exe~
*.dll
*.so
*.dylib

# Coverage reports
*.coverage
*.cov
*.out

# Log files
*.log

# Temporary files
*.tmp*

# Editor backup files
*~
